<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">TEAM DOMINATORS</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
              <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
                <div class="w-full">
                  <h2 class="title-font font-medium text-lg text-gray-900">MARIE CHESLEY</h2>
                  <h3 class="text-gray-500 mb-3">Capability Owner</h3>
                  
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
              <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                <div class="w-full">
                  <h2 class="title-font font-medium text-lg text-gray-900">MICHELLE M</h2>
                  <h3 class="text-gray-500 mb-3">Business Analyst</h3>
                  
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Rajasekhar Reddy</h2>
                    <h3 class="text-gray-500 mb-3">Application Architect</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Prakash</h2>
                    <h3 class="text-gray-500 mb-3">Solution Architect</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Venu Madineni</h2>
                    <h3 class="text-gray-500 mb-3">Data Architect</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Sachin Kumar</h2>
                    <h3 class="text-gray-500 mb-3">Engineering Lead</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Ganesh Sahoo</h2>
                    <h3 class="text-gray-500 mb-3">Team Lead</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Sailaja</h2>
                    <h3 class="text-gray-500 mb-3">Scrum Master</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Tishant</h2>
                    <h3 class="text-gray-500 mb-3">API/Data Engineer</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Aman Gupta</h2>
                    <h3 class="text-gray-500 mb-3">Data Engineer</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Anusha Lingineni</h2>
                    <h3 class="text-gray-500 mb-3">Data Engineer</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">C Ankit</h2>
                    <h3 class="text-gray-500 mb-3">Quality Engineer</h3>
                    
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/4 md:w-1/2">
                <div class="h-full flex flex-col items-center text-center">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
                  <div class="w-full">
                    <h2 class="title-font font-medium text-lg text-gray-900">Sailatha</h2>
                    <h3 class="text-gray-500 mb-3">Quality Engineer</h3>
                    
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
</body>
